<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flash Fiction | 100 word short story editor</title>
</head>

<body>
    <header role="banner">
        <h1>Flash Fiction - Abridge</h1>
    </header>

    <section role="region">
        <button><a href="{% url 'dashboard' %}">My fictions</a></button>
        <button><a href="{% url 'homeinfo' %}">Log Out</a></button>
    </section>

    <section role="region">
        <br>
        <br>
        <label for="title">Title:</label>
        <br>
        <input type="text" name="title">
        <br>
        <br>
        <label for="long">Long Version:</label>
        <br>
        <textarea name="long" id="editor" cols="50" rows="15"></textarea>
        <br>
        <br>
        <input type="submit" value="Snip">
        <br>
        <br>
        <label for="short">Abridged Version:</label>
        <br>
        <textarea name="short" id="editor" cols="50" rows="15"></textarea>
    </section>

    <footer role="contentinfo">

    </footer>
</body>

</html>