


{% extends 'base.html' %}

{% block content %} 

<h1>Abridge</h1>

    <section role="region">
        <br>
        <br>
        <label for="title">Title:</label>
        <br>
        <input type="text" name="title">
        <br>
        <br>
        <label for="long">Long Version:</label>
        <br>
        <textarea name="long" id="editor" cols="50" rows="15"></textarea>
        <br>
        <br>
        <input type="submit" value="Snip">
        <br>
        <br>
        <label for="short">Abridged Version:</label>
        <br>
        <textarea name="short" id="editor" cols="50" rows="15"></textarea>
    </section>

{% endblock %}


