{% extends 'base.html' %} 

{% block content %}

<h1>Dashboard</h1>

    <section id="recent-fictions" role="region">
    </section>
    <section id="recent-abridges" role="region"></section>

    <section id="buttons" role="region">
        <a href="{% url 'editor'  %}">
            <button>Flash Fiction</button>
        </a>
        <a href="{% url 'abridge'  %}">
            <button>Abridge</button>
        </a>
        <a href="{% url 'homeinfo'  %}">
            <button>Log Out</button>
        </a>

    </section>

{% endblock %}


