<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flash Fiction | 100 word short story editor</title>
</head>

<body>
    <header role="banner">
        <h1>Flash Fiction</h1>
    </header>

    <section role="region">
        <button>My fictions</button>
        <button>Sign Out</button>
    </section>

    <section role="region">
        <textarea name="story" id="editor" cols="50" rows="15"></textarea>
        <input type="submit" value="Save">
    </section>

    <footer role="contentinfo">

    </footer>
</body>

</html>