<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flash Fiction | 100 word short story editor</title>
</head>

<body>
    <header role="banner">
        <h1>Flash Fiction - Register</h1>
    </header>
    <section>
        <form action="{% url 'dashboard' %}" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="reg-email">
            <label for="password">Password</label>
            <input type="password" name="password" id="reg-pass">
            <label for="password">Confirm Password</label>
            <input type="password" name="confirm-password" id="reg-conf-pass">
            <input type="submit" value="Register">
        </form>
    </section>


    <footer role="contentinfo">

    </footer>
</body>

</html>