{% extends 'base.html' %} 

{% block content %} 

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>Register</h1>

    <section role="region">
        <form action="{% url 'register' %}" method="POST">
            {%csrf_token%}
            <label for="username">Username</label>
            <br>
            <input type="username" name="username" id="reg-username">
            <br>
            <label for="password1">Password</label>
            <br>
            <input type="password" name="password1" id="reg-pass">
            <br>
            <label for="password2">Confirm Password</label>
            <br>
            <input type="password" name="password2" id="reg-conf-pass">
            <br>
            <br>
            <input type="submit" value="Register">
        </form>
    </section>

{% endblock %}
    
